@import url("https://fonts.googleapis.com/css?family=Slabo+27px");
@import url("https://fonts.googleapis.com/css?family=Roboto");
.row {
  *zoom: 1; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.container .serif-font, .container .masthead {
  font-family: "Slabo 27px", serif; }

.container .sans-font, .container footer {
  font-family: "Roboto", sans-serif; }

.row .col {
  display: inline-block;
  float: left;
  font-size: 12px;
  padding: 5px; }

@media only screen and (max-width: 600px) {
  .container .masthead h1 {
    font-size: 18px !important; }
  .container .mainnav {
    width: 100%; }
    .container .mainnav .mainmenu li {
      display: list-item !important;
      text-align: center;
      margin: 5px; }
  .container .content .col {
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px; } }

@media screen and (max-width: 1000px) and (min-width: 600px) {
  .container {
    width: 90%;
    margin: 0 auto; }
    .container .mainnav {
      width: 100%; }
      .container .mainnav .mainmenu {
        text-align: center; }
        .container .mainnav .mainmenu li {
          display: inline;
          text-align: center; } }

@media only screen and (min-width: 1001px) and (max-width: 1600px) {
  .container {
    width: 990px;
    float: left;
    padding-left: 10px; }
    .container .mainnav {
      width: 100%; }
      .container .mainnav li {
        text-align: left; }
    .container .content .col:nth-child(1), .container .content .col:nth-child(2) {
      width: 25%; }
    .container .content .col:nth-child(3) {
      width: 50%; } }

@media only screen and (min-width: 1601px) {
  .container {
    width: 90%;
    margin: 0 auto;
    max-width: 2000px; }
    .container .mainnav {
      width: 20%; }
      .container .mainnav .mainmenu li {
        text-align: left; } }

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body a {
  color: #0072BE; }

.container .content {
  padding: 15px 10px 60px; }
  .container .content .header {
    font-family: "Slabo 27px", serif; }
  .container .content .description {
    font-family: "Roboto", sans-serif;
    font-size: 13px; }
    .container .content .description .requirements {
      padding-left: 20px;
      font-size: 13px;
      margin-top: 10px; }
  .container .content .font-13x {
    font-size: 13px; }
  .container .content .contact-us-form label {
    font-size: 11px; }
  .container .content .contact-us-form input,
  .container .content .contact-us-form textarea {
    padding: 3px 5px;
    border-radius: 3px;
    border: 1px solid #d3d3d3;
    margin: 1px 0 5px 0; }
    .container .content .contact-us-form input:focus,
    .container .content .contact-us-form textarea:focus {
      border-color: #66afe9;
      outline: 0;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }
  .container .content .contact-us-form .submit-btn {
    background-color: rgba(55, 50, 119, 0.7);
    color: #fff;
    font-size: 19px;
    padding: 5px 20px;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 4px; }
    .container .content .contact-us-form .submit-btn:hover {
      background-color: #373277; }
  .container .content .contact-location-map {
    padding: 0 40px; }

.container .vertical-margin {
  margin-top: 10px;
  margin-bottom: 10px; }

.container .masthead {
  background-color: #373277;
  color: #FFFFFF;
  padding: 15px 20px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.33);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-image: url("/images/headerLogo.png");
  background-repeat: no-repeat;
  background-position: right; }
  .container .masthead h1 {
    font-size: 20px;
    font-weight: normal; }

.container .mainnav {
  margin-top: 65px; }
  .container .mainnav .mainmenu {
    font-family: "Roboto", sans-serif; }
    .container .mainnav .mainmenu li {
      display: inline;
      padding: 0 10px; }

.container footer {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  text-align: center;
  font-size: 11px;
  padding: 10px;
  background-color: #9E9E9E;
  color: #FFFFFF; }
